.bottomMenu a i {
  color: #ffffff;
  text-shadow: 0 0 10px #626262;
}
.bottomMenu ul li{
  background: none!important;
}
.bottomMenu ul {
  
  bottom: 0px;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.17);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5px);

}
#menu a.active i {

  text-shadow: 0 0 10px #009aff!important;
}
.mobile-width{
  width: 60%;
}