:root {
  --black1:#222222;
  --black2: #3d3d3d;
  --gray1: #575d63;
  --gray2: #999999;
}

.black1{
  color: #222222;
}
.black2{
  color: #3d3d3d;
}
.gray1{
  color: #575d63;
}
.gray2{
  color: #999999;
}
.bold{
  font-weight: bold;
}

.responsive-img {
 
  width: 40%;  
  object-fit: cover; 
  border-radius: 40%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
html{
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  /* padding-left:5%; */
  color:#222222;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}



ul{
  padding-left: 1rem;
  padding-right: 1rem;
  list-style-type: disc!important;
}
li::marker {
  background: var(--timeline-marker-color);
}

/* Default: Light Mode */
:root {
    --bg-color: #ffffff;
    --text-color: #212529;
    --card-bg: #f8f9fa;
    --shadow: 0 4px 6px rgba(0,0,0,0.1);
    
    --theme-switcher-bg: #222222;
    --text-fixed-black: #222222;
    --btn-bg-fixed: #ffffff;
    --btn-text-fixed: #212529;
    --btn-shadow-fixed: 0 4px 6px rgba(0,0,0,0.1);
    --timeline-marker-color: #222222;
    --icondisplay-light: none;
    --icondisplay-dark: block;
    --ul-list-mobile-menu-bg:#ffffff8a;
}
.stay-black {
    color: var(--text-fixed-black); /* Stays black even in dark mode */
}
#theme-switch{
  z-index: 500;
  background-color: var(--theme-switcher-bg) !important;
  right: 0;
  
}
.dark-icon{
  display: var(--icondisplay-dark);
  
}

.light-icon{
  display: var(--icondisplay-light);
}

/* Dark Mode Overrides */
[data-theme="dark"] {
    --bg-color: #000000;
    --text-color: #e0e0e0;
    --card-bg: #222222;
    --shadow: 0 4px 6px rgba(0,0,0,0.5);
    --timeline-marker-color: #f8f9fa;
    --icondisplay-light: block;
    --icondisplay-dark: none;
    --theme-switcher-bg: #ffffff;
    --ul-list-mobile-menu-bg:#0000008a;
}

.active-filter{
  background-color: #222222!important;
  color:var(--btn-bg-fixed)!important;
  scale:1.1;
  transition: 0.3s;
}


.shadow {
    background-color: var(--card-bg) ;
    box-shadow: var(--shadow) ;
}

h5, h6, .black2 {
    color: var(--text-color) !important;
}


ul.list-group {
  background-color: var(--ul-list-mobile-menu-bg);
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  position: fixed;
  bottom: 0; 
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 1000;
  width: 100%;
}

ul.list-group li {
  flex: 1; 
  list-style: none;
  margin: 0; 
  padding: 0;
  text-align: center;
}

ul.list-group li a {
  display: inline-block;
  width: 100%; 
  padding: 10px;
}

ul.list-group li i {
  font-size: 24px; 
  color: #ffffff; 
}

.smallFonts{
  font-size: 14px;
}
button:focus {
  outline: none;
  
}

@media (min-width: 992px) {
  .responsive-font {
      font-size: 16px;  
  }
}
